html {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  width: 100%;
}

body {
  background-image: url('/src/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  width: 100%;
  
}

.all-content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.content {

  background-color:  rgba(255, 255, 255, 0.278);
  backdrop-filter: blur(2px);
  border: solid 1.5px rgba(255, 255, 255, 0.814);
  box-shadow: 1px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.10));
  padding: 50px;
  border-radius: 20px
}